
.each-request {
  border-right: 1px dashed black;
  padding: 10px;
}

.dashboard-wrapper {
  padding: 0 50px;

  .welcome-col, .children-list {
    height: calc(100vh - 70px);
    overflow: auto;
    padding: 0 30px;
  }

  .children-list {
    padding-top: 25px;
  }

  .welcome-col {
    border-right: 1px solid rgba(0,0,0,0.07);
  }
}

.task-details {
  display: none;
  border: 2px solid ;
  border-radius: 0px 40px 40px 40px;
  min-width: 600px;
  padding: 15px;
  text-align:left;
  margin: 25px;
}

.hidden {
  display: none;
}

.child-wishlist {
    display: flex;
}

.active-task {
  background-color: rgba(#78BA00, 0.4);
}

.each-task {
  border-radius: 5px;
  // display:flex;
  // flex-direction:column;
}

.dashboard-task-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  // max-width: 200px;
  min-width: 160px;
  // max-height: 150px;
  min-height: 100px;
  transition: ease-in-out 250ms;
  border: 1px solid rgba(#333, 0.7);
  color: #333;
  font-weight:bold;
  border-radius: 5px;
  box-shadow: 1px 18px 18px -22px #888888;
  margin: 15px 10px;
  &:hover {
    cursor: pointer;
    box-shadow: 1px 18px 18px -20px black;
  }
  p {
    margin-bottom: 0
  }
}

.add-feature {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0px;
  h3 {
    margin: 0
  }
}

.dashboard-icon {
  margin: 0 5px;
}

.show-task {
  display:block;
}



.each-child {
  margin-bottom: 50px;
  display: inline-block;

  .child-name {
    max-width: 200px;
    margin: 0;
    padding: 5px 20px;
    color: #555;
    font-family: sans-serif;
    border-radius: 15px 15px 0 0;

    background: rgba(#FFC857, 0.7);
  }
}

