.reward {
    padding: 5px;
}

.each-child {

}

.each-request {
  border-right: 1px dashed black;
  padding: 10px;
}

.child-wishlist,
.submission-details {
    margin: 10px;

}

.task-details {
  display: none;
  border: 2px solid ;
  border-radius: 0px 40px 40px 40px;
  min-width: 700px;
  padding: 15px;
  text-align:left;
  margin-left: 25px;
}

.submission-details {
  width: 500px;
  height: 300px;
  text-align:right;

}

.child-wishlist {
    display: flex;
}

.task-group {
  // display:flex;

}


.each-task {
  border-radius: 5px;
  // display:flex;
  // flex-direction:column;
}

.dashboard-task-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  max-width: 200px;
  min-width: 200px;
  max-height: 150px;
  min-height: 100px;
  transition: ease-in-out 250ms;
  border: 1px solid #333;
  color:black;
  font-weight:bold;
  box-shadow: 1px 1px 1px #888888;
  margin:10px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  p {
    margin-bottom: 0
  }
}

.children-banner {
  background-color: rgb(242, 187, 67);
  border-radius: 15px;
  height:50px;
  color:white;
   box-shadow: 2px 2px 2px #888888;
  h3 {
    padding:10px;
    font-weight:bold;
  }
}

.add-feature {
  display:flex;
  align-items:center;
  margin: 25px 0px;
  h3 {
    margin: 0
  }
}

.dashboard-icon {
  margin: 0 10px;
}

.show-task {
  display:block;
}

