.reward {
    padding: 5px;
}

.each-child {
    border-bottom: 10px solid black;
}

.child-rewards,
.submission-details {
    margin: 10px;
    padding: 10px 20px;
}

.submission-details {

    border: 1px solid black;

}

.child-rewards {
    background: yellow;
}
