// Specific CSS for your home-page
.home-banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: end;
  justify-content: center;
  bottom: 20px;
  background-color: #77c9d4;//#4ec5c1;//#a5aeff;

}

.home-banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.home-banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

#home-padding {
  padding: px;
}

.home-btn {
  color: #fff;
  background-color: #94618E;//2470a0;//#f09027; //#00a8b5;//#e62739; //469AE0;
  border-color: #308edc;
  padding: 24px 40px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1rem;
  display: inline-block;
  font-size: 32px;
  border-radius: 4px;
  margin-bottom: 150px;
  box-shadow: 10px 10px 49px -1px rgba(148, 97, 142, 1);

}

.home-btn :hover {
  color: #fff;
  background-color: #2381d0;
  border-color: #1e6eb2;
  }

a:hover, a:focus {
  color: #fff;
  text-decoration: none;
  }
