.task-details {
  display: block;
  background: rgba(0,0,0,0.3);
  width: 25%;
  padding: 15px;
  border-radius: 5px;
}

.all-rewards {
  background: rgba(241, 242, 245, 0.85);
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
}
