// if using canvas:
// #playground-canvas {
//   background-repeat: no-repeat;
// }

#playground-map {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 60px);
  position: relative;
}

.todays-quests {
  overflow: auto;
  width: 30%;
  min-width: 400px;
  padding: 20px;
  height: calc(100vh - 60px);
  background: rgba(0,0,0,0.2);
}

.task-details {
  display: none;
  color: rgba(white, 0.9);
  border: 1px solid black;
  background: rgba(0,0,0,0.6);
  border-radius: 3px;
  min-width: 280px;
  max-width: 25%;
  padding: 15px;
}

.task-list {
  list-style: none;
}

.all-rewards {
  background: rgba(241, 242, 245, 0.85);
  padding: 10px 25px;
  border-radius: 20px;
  text-align: left;
  font-size: 18px;
  a {
    font-weight: bold;
    color: #6EA2B2;
  }

  span.pending {
    color: #C49235;
  }

  span.claimed {
    color: #7B874E;
  }

  span.rejected {
    color: red;
  }
}

.task-name {
  padding: 10px;
  width: 250px;
  transition: ease-in-out 250ms;
  &:hover {
    cursor: pointer;
    font-weight: bold;
  }
}

.active-task {
  font-weight: bold;
}

.visible-task-details {
  display: block;
}

.btn-make-submission {
  background: rgba(#fbc000, 0.7);
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background: rgba(#fbc000, 1);
  }
}

.send-submission {
    background: transparent;

    &:hover {
      color: #AFC448;
    }
}

// ###########
#pikachu {
  position: absolute;
  bottom: 21%;
  right: 29%;
}

.pokeball-catched {
  animation: 1.7s roll-ball;
}

@keyframes roll-ball {
  0% {
    transform: rotate(20deg);
  }
  40% {
transform: rotate(-360deg);
  }
  100% {
transform: rotate(360deg);
  }
}

// ########### COORDINATES FOR 10 FLOATING ISLANDS ###############
#pos-1 {
  position: absolute;
  top: 44%;
  left: 40%;
}

#pos-2 {
  position: absolute;
  top: 47%;
  left: 44%;
}

#pos-3 {
  position: absolute;
  top: 53%;
  left: 47%;
}

#pos-4 {
  position: absolute;
  top: 55.5%;
  left: 50%;
}

#pos-5 {
  position: absolute;
  top: 58%;
  left: 52%;
}

#pos-6 {
  position: absolute;
  top: 64%;
  left: 51%;
}

#pos-7 {
  position: absolute;
  top: 69%;
  left: 49%;
}

#pos-8 {
  position: absolute;
  top: 75.5%;
  left: 52%;
}

#pos-9 {
  position: absolute;
  top: 81%;
  left: 53.5%;
}

#pos-10 {
  position: absolute;
  top: 84%;
  left: 57%;
}
