#playground-canvas {
  // background-size: cover;
  background-repeat: no-repeat;
}

#btn-quests {
  border: 5px solid yellow;
  z-index: 10;
}

.task-details {
  display: none;
  border: 1px solid black;
  border-radius: 3px;
  min-width: 150px;
  max-width: 50%;
  padding: 15px;
}

.task-list {
  list-style: none;
}

.all-rewards {
  background: rgba(241, 242, 245, 0.85);
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
}

.task-name {
  padding: 10px;
  width: 150px;
  transition: ease-in-out 250ms;
  &:hover {
    cursor: pointer;
    font-weight: bold;
  }
}

.active-task {
  font-weight: bold;
}

.visible-task-details {
  display: block;
}

.btn-make-submission {
  background: rgba(#fbc000, 0.7);
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background: rgba(#fbc000, 1);
  }
}
