<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category"><h2>child.name</h2></div>
  <% child.tasks.each do |task| %>
  <div class="card-description">
    <h2>task.objective</h2>
    <p>task.key_results</p>
  </div>
  <% end %>
</div>
