.signup-container-wrapper {
  margin: 0px 100px;
  height: 100vh;
  background: white;
  font-family: 'Fjalla One', sans-serif;
}

.signup-container-wrapper h2 {
  font-weight: bold;
}

#signup-center {
  padding-top: 160px;
}

